.form-image {
    background-image: url(/static/img/platform3.jpg);
    height: 100%;
    width: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}
